img {
    max-width: 100%; /* garante que a imagem não fique maior que o container*/
    display: block; /* O padrao é inline-block, colocando block perde a margem */

}

/* div {
    width: 300px;
} */

.foto {
  width: 150px;  
}